* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

.QRCodeCenter {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.QRCodeText {
  background-color: white;
  width: 90%;
  max-width: 320px;
  border-radius: 10px;
}

.innerIndentation {
  padding: 10px;
}

.fontQR {
  max-width: 100%;
  border-radius: 10px;
}

.fontText {
  font-size: 20px;
  margin: 15px auto;
}

.centerText {
  text-align: center;
}

p {
  font-size: 15px;
}
