* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.card {
  background-color: white;
  width: 90%;
  max-width: 320px;
  border-radius: 10px;
}

.card__inner {
  padding: 10px;
}

.card__image {
  max-width: 100%;
  border-radius: 10px;
}

.card__title {
  font-size: 20px;
  margin: 15px auto;
}

.card__body {
  text-align: center;
}

.card__text {
  font-size: 15px;
}
